body {
	background-color: #F8F8FF;
	margin: auto;
}

.title {
	background-color: #242582;
	color: white;
	margin: 0 auto;
  width: 100%;
  padding: 30px;
}

.intro {
	background-color: #20B2AA;
	color: white;
	margin: 0 auto;
  width: 100%;
  padding: 30px;
}

#originalText {
	background-color: #B0C4DE;
	margin: auto;
	margin-top: 5px;
  width: 50%;
	min-width: 400px;
  padding: 5px;
	text-align: center;
	border-radius: 35px;
	border: 3px solid #B0C4DE;
}

#textBox {
	margin: auto;
	margin-top: 5px;
	width: 50%;
	min-width: 400px;
	text-align: center;
}

#input {
	margin: auto;
	text-align: center;
}

#result {
	margin: auto;
	margin-top: 15px;
	text-align: center;
	width: 50%;
	min-width: 400px;
  padding: 5px;
	text-align: center;
	background-color: #F8F8FF;
}
